body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}
.weather-container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
}
h1 {
  font-size: 32px;
  margin-top: 0;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}
.description {
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  display: inline-block;
}

/* TO CHANGE AFTER */
.city-info {
    border: 2px solid black;
}
.city-info p {
    margin-right: 30px;
}
#city-name {
  /* border: 2px solid black; */
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
}
#today {
  display: block;
}
.current-day {
  display: inline-block;
  border: 2px solid black;
}
.weather-info {
  display: inline-block;
  border: 2px solid black;
}
.weather-forecast {
  border: 2px solid black;
}

table {
  border: 2px solid black;
  max-width: 600px;
  margin-left: 50px;
  margin-right: 50px;
  /* margin: 15px; */
  /* padding: 20px; */
}
table td {
  border: 2px solid black;
  margin: 15px;
}